body{
    background-color:  #333333;
    font-family: 'Poppins', sans-serif;
    color: rgba(51, 51, 51, 1);
}
header{
    display: flex;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: auto;
    padding: 10px;
    gap: 5px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    flex-flow: row wrap;
    text-align: center;
}
.company{
    width: 25%;
}
header > nav{
    border: 1px solid #B1A592;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    border-radius: 50px;
    color:rgba(177, 165, 146, 1);
}
header > nav:hover{
    background-color: #B1A592;
    color: rgba(51, 51, 51, 1);
}
.company{
    background-color: rgb(52,49,36);
}
.grid-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: auto auto;
    margin: 20px;
}
.grid-item1{
    background-color: #DFD6C5;
    border-radius: 30px;
    padding: 40px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item2{
    background-color: #8E886D;
    border-radius: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid-item3{
    
    background-color: #916E58;
    border-radius: 30px;
}
.grid-item4{
    background-color: #B1A48E;
    border-radius: 30px;
}
.grid-item{
    display: grid;
    padding: 20px;
    position: relative;

}
.grid-item2{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
}
.grid-item2 > img{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-item4{
    position: relative;
}
.grid-item4 > img{
    position: absolute;
    top: 10px;
    right: 10px;
}
h2{
    text-decoration: underline;
}
.lorem{
    border: 1px solid #323025;
    border-radius: 50px;
    width: 150px;
    padding: 5px;
    align-self: center;
    text-align: center;
}
.grid-item:hover img{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.item5{
    margin-left: auto;
}